<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple & Neat</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/nus.css" type="text/css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /* Set height to 100% for body and html to enable the background image to cover the whole page: */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .banner-container {
            opacity: 0.9;
            height: 100%;
            position: relative;
            z-index: 1;
            overflow: hidden;
            background: linear-gradient(to right top, #051937, #004066, #006c8a, #009999, #00c595);
        }

        .banner-container:after {
            /* position: absolute; */
            content: '';
            background: #00294e;
            height: 100%;
            width: 100%;
            top: 0;
            -ms-transform: rotate(17deg);
            -webkit-transform: rotate(17deg);
            transform: rotate(17deg);
            z-index: -1;
            border: dotted 0px #1760a2;
        }

        .bgimg {
            /* Background image */
            background-image: url('../img/clothing-store-984396_1920.jpg');
            /* Full-screen */
            height: 100%;
            /* Center the background image */
            background-position: center;
            /* Scale and zoom in the image */
            background-size: cover;
            /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
            position: relative;
            /* Add a white text color to all elements inside the .bgimg container */
            color: white;
            /* Add a font */
            font-family: "Courier New", Courier, monospace;
            /* Set the font-size to 25 pixels */
            font-size: 25px;
        }

        /* Position text in the top-left corner */
        .topleft {
            position: absolute;
            top: 0;
            left: 16px;
        }

        /* Position text in the bottom-left corner */
        .bottomleft {
            position: absolute;
            bottom: 0;
            left: 16px;
        }

        /* Position text in the middle */
        .middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        /* Style the <hr> element */
        hr {
            margin: auto;
            width: 40%;
        }

    </style>
  </head>
  <body>
    <div class="bgimg">
        <div class="banner-container">
            <div class="topleft">
                <p>
                    
                </p>
            </div>
            <div class="middle">
                <p><img src="img/logo-site.png"/></p>
                <hr>
                <h1>COMING SOON</h1>
            </div>
            <div class="bottomleft">
            </div>
        </div>
    </div>
  </body>
</html>
